<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <!--  -->
    <h2>Form 요청1</h2>

    <form th:action="@{/member1}" method="post">
      <input type="text" name="id" />
      <input type="text" name="pw" />
      <input type="text" name="email" />
      <button>등록</button>
    </form>
    <!--  -->
    <h2>Form 요청2</h2>
    <form th:action="@{/member2}" method="post">
      <input type="text" name="id" />
      <input type="text" name="pw" />
      <input type="text" name="email" />
      <button>등록</button>
    </form>

    <!--  -->
    <h2>Form 요청3</h2>
    <form th:action="@{/member3}" method="post">
      <input type="text" name="id" />
      <input type="text" name="pw" />
      <input type="text" name="email" />
      <button>등록</button>
    </form>
  </body>
</html>
