<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="b">

    <select id="selectAll" resultType="map">
        select * from tbl_test_order o
        inner join tbl_test_customer c
        on o.id = c.id
    </select>

</mapper>