<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--  주의, 최초의 주문 폼이 나올 때 에러가 발생함, 이유는 모델이 제공되지 않기 때문에 -->
<!-- get 요청 부분에 빈 order 객체가 제공될 수 있도록 변경해야 한다  -->
<form th:action="@{/order}" th:object="${order}" method="post">
    <!-- 상품오류 -->
    <!-- ${errors?.containsKey('name')} // ?. => null이면 null 반환 th:if는 값이 null이면 조건이 거짓으로 수행하지 않음-->
    <div th:if="${errors?.containsKey('name')}" th:text="${errors['name']}">
        상품명오류
    </div>
    <input type="text" name="name" th:field="*{name}"/><br/>
    <!-- 금액오류 -->

    <div th:if="${errors?.containsKey('price')}" th:text="${errors['price']}">
        금액오류
    </div>
    <input type="text" name="price" th:field="*{price}"/><br/>

    <!-- 수량오류 -->

    <div th:if="${errors?.containsKey('qty')}" th:text="${errors['qty']}">
        수량오류
    </div>
    <input type="text" name="qty" th:field="*{qty}"/><br/>
    <button>등록</button>
</form>
</body>
</html>
